.nodes circle {
  stroke: #fff;
  stroke-width: 1px;
}

div.tooltip {	
  position: absolute;			
  text-align: left;			
  padding: 10px;				
  font: 12px sans-serif;		
  background-color: rgba(0, 0, 0, 0.8);
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;	
  color:white;
  font-size: 14px;
}

.keywordForGroup {
  font-size: 18pt;
}